<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/layout}">

<head>
    <title>Stock</title>
</head>
<body layout:fragment="body">
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Tạo kho hàng</h6>
        <form th:action= "@{/vendor/products/stock/add}" method = "post" role="form" th:object="${stockRequest}" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       id="code"
                       name="code"
                       th:field="*{code}"
                       placeholder="Ví dụ: giày">
                <label for="code">Product Code</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number"
                       class="form-control"
                       id="quantityOfProduct"
                       name="quantityOfProduct"
                       th:field="*{quantityOfProduct}"
                       placeholder="Ví dụ: giay">
                <label for="quantityOfProduct">Quantity</label>
            </div>
            <div class="form-floating mb-4">
                <select
                        th:field="*{productId}"
                        id="productId"
                >
                    <span th:each="product : ${products}">
                        <option th:value="${product.id}">[[${product.language.nameVn}]]</option>
                    </span>
                </select>
            </div>
            <div class="form-floating mb-4">
                <select
                        th:field="*{decorationId}"
                        id="decorationId"
                >
                    <span th:each="decoration : ${decorations}">
                        <option th:value="${decoration.id}">[[${decoration.color}]] - [[${decoration.size}]]</option>
                    </span>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input type="file"
                       class="form-control"
                       id="files"
                       name="files"
                       placeholder="Ví dụ: giay">
                <label for="files">Image</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">ADD</button>
        </form>
    </div>
</div>
</body>
</html>