<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/layout}">

<head>
    <title>Product</title>
</head>
<body layout:fragment="body">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Thêm sản phẩm</h6>
            <form id = 'product' >
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="nameVn"
                           name="nameVn"
                           placeholder="Ví dụ: giày">
                    <label for="nameVn">Tên tiếng việt</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="nameEn"
                           name="nameEn"
                           placeholder="Ví dụ: giay">
                    <label for="nameEn">Tên không dấu</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select"
                            id="categoryId"
                            aria-label="Floating label select example"
                            name="categoryId"
                    >
                        <option selected>Chọn thể loại</option>
                        <span th:each="category :${categories}">
                            <option th:value=${category.id}
                                    th:text="${category.name}"></option>
                        </span>
                    </select>
                    <label for="categoryId">Thể loại</label>
                </div>
                <div class="form-floating mb-3">
                                <textarea class="form-control"
                                          placeholder="Mô tả về sản phầm"
                                          id="description"
                                          style="height: 150px;"
                                          name="description"
                                ></textarea>
                    <label for="description">Mô tả về sản phầm</label>
                </div>
            </form>
            <div class="form-floating mb-3">
                <button th:onclick="createProduct()" class="btn btn-primary w-100">Thêm</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function createProduct() {
            const form = document.getElementById("product")
            const product = {
                language: {
                    nameVn: form.elements['nameVn'].value,
                    nameEn: form.elements['nameEn'].value
                },
                description: form.elements['description'].value,
                categoryId: form.elements['categoryId'].value
            }
            $.ajax({
                type:'post',
                url: new URL('[(@{/vendor/products/add})]', location).href,
                data: JSON.stringify(product),
                headers: {
                    "Content-Type": "application/json"
                },
                success:function () {
                    window.location.href=new URL("[(@{/vendor/products})]", location).href
                },
                error: function () {
                    alert("error create product")
                }
            })
        }
    </script>
</body>
</html>