<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/layout.html}">
<head>
    <title>Danh sách thể loại</title>
</head>
<body>
<section layout:fragment="body">
    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">

        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Danh sách thể loại</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Tên hóa đơn</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Phí ship</th>
                            <th scope="col">Tổng</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Thanh toán</th>
                            <th scope="col">Đã thanh toán</th>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">In hóa đơn</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${bills != null}" th:each="bill : ${bills}">
                            <th scope="row" th:text="${bill.name}"></th>
                            <th scope="row" th:text="${bill.order.product.language.nameVn}"></th>
                            <th scope="row" >
                                <img th:if="${bill.order.product.thumbnails.size == 0}" src="https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg" height="100">
                                <img th:unless="${bill.order.product.thumbnails.size == 0}"th:src="@{/{shortUrl}/{fileName}(shortUrl=${bill.order.product.thumbnails.get(0).shortUrl}, fileName=${bill.order.product.thumbnails.get(0).name})}" height="100">
                            </th>
                            <th scope="row" th:text="${bill.order.product.formatPrice}"></th>
                            <th scope="row" th:text="${bill.order.quantity}"></th>
                            <th scope="row" th:text="${bill.order.product.vendor.formatMoneyDelivery}"></th>
                            <th scope="row" th:text="${bill.order.formatTotalPrice}"></th>
                            <th scope="row" th:text="${bill.order.product.category.name}"></th>
                            <th scope="row" th:text="${bill.order.payment.name}"></th>
                            <th scope="row" th:if="${bill.status.name() == 'SUCCESS'}">Đã thanh toán</th>
                                <th scope="row" th:unless="${bill.status.name() == 'SUCCESS'}">Chưa thanh toán</th>
                            <th scope="row">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Xem thông tin
                                </a>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Thông tin khách hàng</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Họ và tên</th>
                                                            <th scope="col">Địa chỉ</th>
                                                            <th scope="col">Số điện thoại</th>
                                                            <th scope="col">Email</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:if="${bill.order.user != null && bill.order.user.userContactDetails != null}">
                                                            <th scope="row" th:text="${bill.order.user.userContactDetails.fullName}"></th>
                                                            <th scope="row" th:text="${bill.order.user.userContactDetails.address}"></th>
                                                            <th scope="row" th:text="${bill.order.user.userContactDetails.phoneNumber}"></th>
                                                            <th scope="row" th:text="${bill.order.user.email}"></th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <button class="btn btn-primary" th:onclick="printBill([[${bill}]])">Print Bill</button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:inline="javascript">
        function printBill(bill) {
            console.log(bill)
            // Retrieve necessary data
            // Construct bill content

            var printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write(`<html>
                                <head>
                                    <title>Print Bill</title>
                                    <style>
                                        body {
                                            font-family: Arial, sans-serif;
                                            margin: 20px;
                                        }
                                        table {
                                            width: 100%;
                                            border-collapse: collapse;
                                        }
                                        th, td {
                                            border: 1px solid #ddd;
                                            padding: 8px;
                                            text-align: left;
                                        }
                                        th {
                                            background-color: #f2f2f2;
                                        }
                                        .qr-code {
                                            text-align: center;
                                            margin-top: 20px;
                                        }
                                    </style>
                                </head>
                                <body>`);
            printWindow.document.write(`<h2>Thông tin người mua</h2>
                                        <table>
                                          <thead>
                                            <tr>
                                              <th>Họ và tên</th>
                                              <th>Số điện thoại</th>
                                              <th>Địa chỉ</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                                <th scope="row">${bill.order.user.userContactDetails.fullName}</th>
                                                <th scope="row">${bill.order.user.userContactDetails.phoneNumber}</th>
                                                <th scope="row">${bill.order.user.userContactDetails.address}</th>
                                            </tr>
                                          </tbody>
                                        </table>`)
            printWindow.document.write(`<h2>Hóa đơn sản phẩm: ${bill.order.product.language.nameVn}</h2>
                                        <table>
                                          <thead>
                                            <tr>
                                              <th>Sản phẩm</th>
                                              <th>Giá</th>
                                              <th>Số lượng</th>
                                              <th>Phí ship</th>
                                              <th>Tổng</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>${bill.order.product.language.nameVn}</td>
                                              <td>${bill.order.product.formatPrice}</td>
                                              <td>${bill.order.quantity}</td>
                                              <td>${bill.order.product.vendor.formatMoneyDelivery}</td>
                                              <td>${bill.order.formatTotalPrice}</td>
                                            </tr>
                                            <tr>
                                              <td colspan="4" style="text-align:right">Tổng:</td>
                                              <td>${bill.order.formatTotalPrice}</td>
                                            </tr>
                                          </tbody>
                                        </table>`)
            printWindow.document.write(`<div class="qr-code">
                                            <h3>Scan QR Code khi giao hàng thành công</h3>
                                            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${bill.urlUpdateStatus}" alt="QR Code">
                                        </div>`)
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            // Trigger print dialog

            setTimeout(() => {
                printWindow.print();
                printWindow.close();
            }, 2000)
        }
    </script>
    <!-- Table End -->
</section>
</body>
</html>