<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title>Quên mật khẩu</title>
</head>

<body layout:fragment="body">
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" style="padding-top: 100px">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div th:if="${message}" class="alert alert-info text-center">
                        [[${message}]]
                    </div>
                    <div th:if="${param.expire}" class="alert alert-info text-center">
                        Mã đã hết hạn vui lòng gửi lại email.
                    </div>
                    <div class="mb-3">
                        <h3 class="text-center">Nhập email</h3>
                    </div>
                    <form  th:action="@{/send-email/forgot-password}" method="post">
                        <div class="form-floating mb-3">
                            <input type="email"
                                   class="form-control"
                                   id="floatingInput"
                                   name="email"
                                   placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <button  class="btn btn-primary py-3 w-100 mb-4">Gửi email</button>
                    </form>
                    <p class="text-center mb-0">Don't have an Account? <a th:href="@{/sign-up}">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>
</body>

</html>