<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title>Lấy Lại Mật Khẩu</title>
</head>
<body layout:fragment="body">
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" style="padding-top: 100px">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div th:if="${message}" class="alert alert-danger text-center">
                        [[${message}]]
                    </div>
                    <div class="mb-3">
                        <h3 class="text-center">Lấy lại mật khẩu</h3>
                    </div>
                    <form th:action="@{/forget-password/new-pass}" method="post" id="form-change-password">
                        <input type="hidden" th:value="${param.code}" name="code">
                        <div class="form-floating mb-4">
                            <input type="password"
                                   class="form-control"
                                   name="newPassword"
                                   id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Mật khẩu mới</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password"
                                   class="form-control"
                                   name="reNewPassword"
                                   id="refloatingPassword" placeholder="Password">
                            <label for="refloatingPassword">Nhập lại khẩu mới</label>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Xác nhận</button>
                    </form>
                    <div id="alert-not-match"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>
</body>
</html>