<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
        .img-fluid-redesign {
            max-width: 100%;
            height: 240px;
        }
    </style>
</head>
<body layout:fragment="body" th:onload="getElements()">
<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                           aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->

<!-- Hero Start -->
<div class="container-fluid py-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Hàng chính hãng</h4>
                <h1 class="mb-5 display-3 text-primary">Đồ thiết bị, gia dụng và vô vàn thứ khác</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number"
                           placeholder="Search">
                    <button type="submit"
                            class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
                            style="top: 0; right: 25%;">Submit Now
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded" th:each="category : ${categories}" th:if="${category.id == 1}">
                            <img th:src="@{/{shortUrl}/{fileName}(shortUrl=${category.image.shortUrl}, fileName=${category.image.name})}"
                                 class="img-fluid w-100 rounded"
                                 style="height: 300px"
                            >
                            <a th:href="@{/shop/products/category/{categoryId}/search(categoryId = ${category.id})}" class="btn px-4 py-2 text-white rounded bg-dark">[[${category.name}]]</a>
                        </div>
                        <div class="carousel-item rounded" th:each="category : ${categories}" th:unless="${category.id == 1}">
                            <img th:src="@{/{shortUrl}/{fileName}(shortUrl=${category.image.shortUrl}, fileName=${category.image.name})}"
                                 class="img-fluid w-100 rounded"
                                 style="height: 300px"
                            >
                            <a th:href="@{/shop/products/category/{categoryId}/search(categoryId = ${category.id})}" class="btn px-4 py-2 text-white rounded bg-dark">[[${category.name}]]</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Các sản phẩm</h1>
                </div>
            </div>
            <div class="tab-content">
                <div th:id="content-products" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div id="products-item" class="row g-4 mb-5">
                                <div class="col-md-6 col-lg-4 col-xl-3" th:each="value : ${products}">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <a th:href="@{/products/{productId}/{productName}(productId=${value.id}, productName=${value.language.nameVn})}">
                                            <img th:src="${value.thumbnail}" class="img-fluid-redesign w-100 rounded-top" alt="">
                                            </a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                            [[${value.category.name}]]</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <div class="col-12 text-truncate h4 ">
                                                <a class="text-dark" th:href="@{/products/{productId}/{productName}(productId=${value.id}, productName=${value.language.nameVn})}">
                                                [[${value.language.nameVn}]]
                                                </a>
                                            </div>
                                            <p><div class="col-12 text-truncate">
                                            [[${value.description}]]
                                        </div></p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">[[${value.formatPrice}]]</p>
                                                <a th:href = "@{/products/{productId}/{productName}(productId=${value.id}, productName=${value.language.nameVn})}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Mua</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center w-100">
                                <a href="/shop" class="btn border border-secondary rounded-pill px-3 text-dark w-50" style="font-size: 20px">Xem thêm...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Sản Phẩm Bán Chạy</h1>
        </div>
        <div id="productSeller" class="row g-4">
        </div>
    </div>
</div>
</div>
<script th:inline="javascript">
    function getElements() {
        const productSellers = [[${trackProductSellers}]]
        for (let i = 0; i < productSellers.length; i++) {
            const product = productSellers[i].product;
            let rate = ``;
            for (let j = 0; j < product.averageEvaluation; j++) {
                rate += '<i class="fas fa-star text-primary"></i>';
            }
            for (let j = product.averageEvaluation; j < 5; j++) {
                rate += '<i class="fas fa-star"></i>';
            }
            $("#productSeller").append(`<div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img src='${product.thumbnail}' class="img-fluid rounded-circle w-100" alt="">
                            </div>
                            <div class="col-6">
                                <a href='/products/${product.id}/${product.language.nameVn}'
                                   class="h5"
                                   ><div class="col-12 text-truncate">
                                        ${product.language.nameVn}
                                      </div>
                                  </a>
                                <div class="d-flex my-3">
                                    ${rate}
                                </div>
                                <p class="mb-1 h4">${product.formatPrice}</p>
                                <p class="mb-3">Đã bán: ${productSellers[i].numberOfProductsSold}</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                        class="fa fa-shopping-bag me-2 text-primary"></i>Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>`);
        }
    }
</script>
</body>

</html>