<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title>Đặt Hàng</title>
</head>
<body layout:fragment="body" class="container-fluid" style="padding-top: 95px">
<!-- Checkout Page Start -->
<div class="container py-5">
    <h1 class="mb-4">Đặt hàng</h1>
    <form action="#" id="product-order" >
        <div class="row g-5">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Họ và tên<sup>*</sup></label>
                            <input type="text"
                                   class="form-control"
                                   name="fullName"
                                   th:value="${user.userContactDetails.fullName}"
                            >
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                            <input type="tel"
                                   class="form-control"
                                   name="phoneNumber"
                                   th:value="${user.userContactDetails.phoneNumber}"

                            >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Địa chỉ<sup>*</sup></label>
                            <input type="text"
                                   class="form-control"
                                   name="address"
                                   th:value="${user.userContactDetails.address}"

                            >
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Tỉnh<sup>*</sup></label>
                            <input type="text" class="form-control"
                                   name="province"
                                   th:value="${user.userContactDetails.province}"

                            >
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Email<sup>*</sup></label>
                    <input type="email" class="form-control"
                           name="email"
                           th:value="${user.email}"

                    >
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Phí Ship</th>
                            <th scope="col">Tổng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img th:src="${product.thumbnail}" class="img-fluid rounded-circle"
                                         style="width: 90px; height: 90px;" alt="">
                                </div>
                            </th>
                            <td class="py-5" th:text="${product.language.nameVn}"></td>
                            <td class="py-5" th:text="${product.price}">$69.00</td>
                            <td class="py-5">2</td>
                            <td class="py-5">100000</td>
                            <td class="py-5">$138.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                    <div class="col-12">
                        <h2 class="mb-4">Phương thức thanh toán</h2>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                    <div class="col-12">
                        <div class="form-check text-start my-3">
                            <input type="radio"
                                   class="form-check-input bg-primary border-0"
                                   id="delivery1"
                                   name="delivery"
                                   value="PAY_AT_HOME">
                            <label class="form-check-label" for="delivery1">Thanh toán tại nhà</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                    <div class="col-12">
                        <div class="form-check text-start my-3">
                            <input type="radio"
                                   class="form-check-input bg-primary border-0"
                                   id="delivery2"
                                   name="delivery"
                                   value="PAY_BY_BANK">
                            <label class="form-check-label" for="delivery2">Thanh toán qua ngân hàng</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <a href="##"
                       class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary"
                       th:onclick="orderProduct([[${product.id}]])"
                    >Đặt hàng</a>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout Page End -->

<script th:inline="javascript">
    function orderProduct(productId) {
        let theUrl = `[(@{/orders})]`;
        let url = new URL(theUrl, document.location);
        const form = document.getElementById("product-order")
        const order = {
            user: {
               userContactDetails: {
                   fullName: form.elements["fullName"].value,
                   address: form.elements["address"].value,
                   phoneNumber: form.elements["phoneNumber"].value,
                   province: form.elements["province"].value
               }
            },
            product: {
                "id": productId,
            },
            payment: form.elements["delivery"].value

        }
        console.log(order)
        $.ajax({
            type: "post",
            url: url.href,
            headers: {
                "Content-Type": "application/json"
            },
            data: JSON.stringify(order),
            success: function () {
                let theUrl = `[(@{/home})]`;
                let url = new URL(theUrl, document.location);
                window.location.href=url.href
            },
            error: function () {
                alert("Error")
            }
        })
    }
</script>
</body>
</html>