<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title th:text="${product.language.nameVn}"></title>
</head>
<body layout:fragment="body" th:onload="initElemnts()">
<!-- Single Product Start -->
<div class="container-fluid mt-5" style="padding-top: 52px;">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                            <a href="#">
                                <img th:if="${product.thumbnails.size == 0}" src="https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg" class="img-fluid w-100 rounded-top" alt="">
                                <img th:unless="${product.thumbnails.size == 0}"th:src="@{/{shortUrl}/{fileName}(shortUrl=${product.thumbnails.get(0).shortUrl}, fileName=${product.thumbnails.get(0).name})}" class="img-fluid w-100 rounded-top" alt="">
                            </a>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">[[${product.language.nameVn}]]</h4>
                        <p class="mb-3">[[${product.category.name}]]</p>
                        <h5 class="fw-bold mb-3">[[${product.formatPrice}]]</h5>
                        <div class="d-flex mb-4" id="average_evaluation">
                            <script th:inline="javascript">
                                const avrate = [[${product.averageEvaluation}]];
                                let av = '';
                                for (let i = 0; i < avrate; i++) {
                                    av += `<i class="fa fa-star text-secondary"></i>`
                                }
                                for (let i = avrate; i < 5; i++) {
                                    av += `<i class="fa fa-star"></i>`
                                }
                                console.log(av)
                                document.getElementById("average_evaluation").innerHTML = av;
                            </script>
                        </div>
                        <p class="mb-4">The generated Lorem Ipsum is therefore always free from repetition injected
                            humour, or non-characteristic words etc.</p>
                        <p class="mb-4">Susp endisse ultricies nisi vel quam suscipit. Sabertooth peacock flounder;
                            chain pickerel hatchetfish, pencilfish snailfish</p>
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0"
                                   value="1"
                                   id="quantity"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button th:onclick="red_order([[${product.id}]], [[${product.language.nameVn}]])"
                                   class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                                        class="fa fa-shopping-bag me-2 text-primary"></i>Đặt hàng</button>
                            </div>
                            <div class="col-lg-6">
                                <a href="##" th:onclick="createBasket([[${product.id}]])"
                                   class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                    <i class="fa fa-shopping-bag   me-2 text-primary"></i>Thêm giỏ hàng</a></div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">Mô tả
                                </button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">Đánh giá
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>The generated Lorem Ipsum is therefore always free from repetition injected humour,
                                    or non-characteristic words etc.
                                    Susp endisse ultricies nisi vel quam suscipit </p>
                                <p>Sabertooth peacock flounder; chain pickerel hatchetfish, pencilfish snailfish
                                    filefish Antarctic
                                    icefish goldeye aholehole trumpetfish pilot fish airbreathing catfish, electric ray
                                    sweeper.</p>
                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-6">
                                            <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Weight</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">1 kg</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Country of Origin</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">Agro Farm</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Quality</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">Organic</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Сheck</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">Healthy</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Min Weight</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">250 Kg</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-mission"
                                 role="tabpanel" aria-labelledby="nav-mission-tab">

                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor
                                    sit. Aliqu diam
                                    amet diam et eos labore. 3</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>
                    <form id="form-comment" th:action="@{/evaluations/{productId}(productId=${product.id})}"
                          method="post" th:if="${was_bought == true}" th:object="${evaluation}"
                          enctype="multipart/form-data"
                    >
                        <h4 class="fw-bold">Để Lại Đánh Giá</h4>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="content"
                                              class="form-control border-0"
                                              th:field="*{content}"
                                              cols="30" rows="8"
                                              placeholder="Đánh giá của bạn*"
                                    ></textarea>
                                </div>
                                <div class="border-bottom rounded my-4">
                                    <input type="file" multiple class="form-control" name="image">
                                </div>
                                <input type="hidden" name="rating" th:field="*{rating}" id="rating">
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-3">Đánh giá:</p>
                                        <div class="d-flex align-items-center" style="font-size: 12px;">
                                            <i class="fa fa-star" id="rate#1" onclick="rating(1)"></i>
                                            <i class="fa fa-star" id="rate#2" onclick="rating(2)"></i>
                                            <i class="fa fa-star" id="rate#3" onclick="rating(3)"></i>
                                            <i class="fa fa-star" id="rate#4" onclick="rating(4)"></i>
                                            <i class="fa fa-star" id="rate#5" onclick="rating(5)"></i>
                                        </div>
                                    </div>
                                    <button type="submit"
                                       class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Đăng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                   aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="mb-4">
                            <h4>Categories</h4>
                            <ul class="list-unstyled fruite-categorie">
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Apples</a>
                                        <span>(3)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Oranges</a>
                                        <span>(5)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Strawbery</a>
                                        <span>(2)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Banana</a>
                                        <span>(8)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Pumpkin</a>
                                        <span>(5)</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="mb-4">Featured products</h4>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="../../user/img/featur-1.jpg" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Big Banana</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="../../user/img/featur-2.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Big Banana</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded" style="width: 100px; height: 100px;">
                                <img src="../../user/img/featur-3.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Big Banana</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="../../user/img/vegetable-item-4.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Big Banana</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="../../user/img/vegetable-item-5.jpg" class="img-fluid rounded" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">Big Banana</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                More</a>
                        </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Các sản phẩm liên quan</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center" id="relative-product">
                <div th:each="p : ${products}" th:if="${p.id != product.id}" class="border border-primary rounded position-relative">
                    <div class="vesitable-img">
                        <a th:href="@{/products/{productId}/{productName}(productId=${p.id}, productName=${p.language.nameVn})}">
                            <img th:if="${p.thumbnails.size == 0}" src="https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg" class="img-fluid-redesign w-100 rounded-top" alt="">
                            <img th:unless="${p.thumbnails.size == 0}"th:src="@{/{shortUrl}/{fileName}(shortUrl=${p.thumbnails.get(0).shortUrl}, fileName=${p.thumbnails.get(0).name})}" class="img-fluid-redesign w-100 rounded-top" alt="">
                        </a>
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                         style="top: 10px; right: 10px;">[[${product.category.name}]]
                    </div>
                    <div class="p-4 pb-0 rounded-bottom">
                        <a th:href="@{/products/{productId}/{productName}(productId=${p.id}, productName=${p.language.nameVn})}"><h4 class="text-truncate">[[${p.language.nameVn}]]</h4></a>
                        <p class="text-truncate">[[${p.description}]]</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold">[[${p.formatPrice}]]</p>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                                    class="fa fa-shopping-bag me-2 text-primary"></i>Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->
<script th:inline="javascript">
    function createBasket(productId) {
        let theUrl = `[(@{/baskets})]`;
        const url = new URL(theUrl, document.location);
        const formQuantity = document.getElementById("quantity")
        const basket = {
            product: {
                "id": productId,
            },
            quantity: formQuantity.value
        }
        $.ajax({
            type: "post",
            url: url.href,
            data: JSON.stringify(basket),
            headers: {
                "Content-Type": "application/json"
            },
            success: function (data) {
                if(typeof data === 'string') {
                    window.location.href=new URL('[(@{/login})]', document.location).href;
                } else {
                    let cookieValue = "0";
                    let name = 'basket' + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            cookieValue =  c.substring(name.length, c.length);
                            break;
                        }
                    }
                    document.getElementById("basket").innerHTML = cookieValue;
                    alert("Đã thêm vào giỏ hàng!")
                }
            },
            error: function () {
                alert("Error")
            }
        })
    }

    function callApi(type, data, theUrl, success) {
        const url = new URL(theUrl, document.location);
        $.ajax({
            type: type,
            url: url.href,
            data: data,
            headers: {
                "Content-Type": "application/json"
            },
            success: function (data) {
                success(data);
            },
            error: function () {
                alert("Error")
            }
        })
    }

    var valueRating = 1;

    function initElemnts() {
        //evaluations
        const product = [[${product}]]
        let html = '';
        product.evaluations.forEach(evaluation => {
            html += evaluationHtml(evaluation)
        })
        $("#nav-mission").html(html);
    }

    function evaluationHtml(data) {
        let rate = ``;
        for (let i = 1; i <= data.rating; i++) {
            rate += `<i class="fa fa-star text-secondary"></i>`
        }
        for (let i = data.rating + 1; i <= 5; i++) {
            rate += `<i class="fa fa-star"></i>`
        }
        let images = ``;
        for(let i = 0; i < data.images.length; i++) {
            const image = data.images[i];
            images += `<img src="/${image.shortUrl}/${image.name}" class="img-fluid rounded p-3" style="width: 100px; height: 100px;" alt="">`
        }

        let html = `<div class="d-flex">
                                    <img src="/${data.user.avatar.shortUrl}/${data.user.avatar.name}" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">${data.formatDate}</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>${data.user.userContactDetails.fullName}</h5>
                                            <div class="d-flex mb-3" style="right: 0">
                                                ${rate}
                                            </div>
                                        </div>
                                        <p class="text-dark">${data.content}</p>
                                        ${images}
                                    </div>
                                </div>`
        return html;
    }

    function rating(value) {
        for (let i = 1; i <= value; i++) {
            const rate = document.getElementById("rate#" + i);
            rate.classList.add("text-primary")
        }
        for (let i = value + 1; i <= 5; i++) {
            const rate = document.getElementById("rate#" + i);
            rate.classList.remove("text-primary")
        }
        valueRating = value
        document.getElementById("rating").value = valueRating;
    }
    function red_order(productId, productName) {
        const quantity = document.getElementById("quantity").value;
        const url = new URL(`[(@{/orders/product/${productId}/${productName}?numberOfProduct=${quantity}})]`, location).href;
        window.location.href = url;
    }
</script>
</div>
</body>
</html>