<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title>Fruitables - Vegetable Website Template</title>
    <style>
        .img-fluid-redesign {
            max-width: 100%;
            height: 240px;
        }
    </style>
</head>

<body layout:fragment="body" th:onload="initElements()">
<!-- Fruits Shop Start-->
<div class="container-fluid fruite" style="padding-top: 100px">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="d-flex">
                            <input type="search" class="form-control p-3" style="margin-right: 10px"
                                   placeholder="Tìm kiếm"
                                   name="query"
                                   id="searchProducts"
                                   th:value="${keyword}"
                                   aria-describedby="search-icon-1">
                            <button th:onclick="searchProductByKeyWordAndCategoryId()" id="search-icon-1"
                                    class="input-group-text p-3">
                                <i class="fa fa-search" style="cursor: pointer"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="sort-product">Sắp xếp mặc định:</label>
                            <select id="sort-product" name="typeSort"
                                    class="border-0 form-select-sm bg-light me-3"
                                    th:onchange="sortProduct()"
                            >
                                <option value="DEFAULT">Không</option>
                                <option value="RATE_AVERAGE">Đánh giá cao</option>
                                <option value="NUMBER_OF_SELLER">Mua nhiều</option>
                                <option value="PRICE">Giá</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h6>Thể Loại</h6>
                                    <select class="form-select"
                                            id="categoryId"
                                            aria-label="Floating label select example"
                                            name="categoryId"
                                            th:onchange="searchProductByKeyWordAndCategoryId()"
                                    >
                                        <option th:selected="${categoryId == '0'}" value="0">Chọn thể loại</option>
                                        <span th:each="category :${categories}">
                                            <option th:value=${category.id}
                                                    th:text="${category.name}"
                                                    th:selected="${categoryId} == ${category.id}"
                                            >
                                            </option>
                                        </span>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Additional</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1"
                                               value="Beverages">
                                        <label for="Categories-4">Giảm giá</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center" id="products">
                        </div>
                        <div class="col-12">
                            <div id="page" class="pagination d-flex justify-content-center mt-5">
                                <script>
                                    const pageElement = document.getElementById("page");
                                    const total = [[${totalPage}]]
                                    let html = ''
                                    if (total > 0) {
                                        html += `<a style="cursor: pointer" onclick='getPage(0)' class="rounded">&laquo;</a>`
                                    }
                                    for (let i = 0; i < total; i++) {
                                        if (i === [[${page}]]) {
                                            html += `<a class="rounded active disabled">${i + 1}</a>`
                                        } else {
                                            html += `<a style="cursor: pointer" onclick='getPage(${i})' class="rounded">${i + 1}</a>`
                                        }
                                    }
                                    if (total > 0) {
                                        html += `<a  style="cursor: pointer" onclick='getPage(${total - 1})' class="rounded">&raquo;</a>`
                                    }
                                    pageElement.innerHTML = html
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

<script th:inline="javascript">

    function getElementProduct(product) {
        let src = "";
        if(product.thumbnails.length > 0) {
            src=`/${product.thumbnails[0].shortUrl}/${product.thumbnails[0].name}`
        } else {
            src = "https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg"
        }
        return `<div class="col-md-6 col-lg-6 col-xl-4">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="${src}"
                         class="img-fluid-redesign w-100 rounded-top"
                         alt=""
                    />
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                     style="top: 10px; left: 10px;"

                >
                    Thể loại: ${product.category.name}
                </div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <div class="col-12 text-truncate h4">
                        Tên: ${product.language.nameVn}
                    </div>
                    <p>
                        <div class="col-12 text-truncate">
                            Mô tả: ${product.description}
                        </div>
                    </p>
                    <div class="d-flex justify-content-between flex-lg-wrap mb-4">
                        <p class="text-dark fs-5 fw-bold mb-0">Giá: ${product.formatPrice}</p>
                    </div>
                    <div class="d-flex justify-content-between flex-lg-wrap mb-4">
                        <a href="/shop/vendor/${product.vendor.id}"
                           class="text-dark fs-5 fw-bold mb-0">Shop:
                            ${product.vendor.shopName}</a>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <a href="/products/${product.id}/${product.language.nameVn}"
                               class="btn border border-secondary rounded-pill px-3 text-primary w-100">
                                <i
                                    class="fa fa-shopping-bag me-2 text-primary"></i>Mua</a>
                        </div>
                        <div class="col-lg-6">
                            <a href="##"
                               class="btn border border-secondary rounded-pill px-3 text-primary w-100">
                                <i
                                    class="fa fa-shopping-bag me-2 text-primary"></i>Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>`
    }
    function initElements() {
        const products = [[${products}]];
        let e = '';
        products.forEach(product => {
            e += getElementProduct(product);
        })

        $("#products").html(e)
    }
    function getDateSearch() {
        const keyWord = document.getElementById("searchProducts").value;
        const categoryId = document.getElementById("categoryId").value;
        const dataSearch = {
            query: keyWord,
            categoryId: categoryId
        }
        return dataSearch;
    }

    function getPage(page) {
        window.location.href = getHrefSearch(getDateSearch(), page)
    }

    function searchProductByKeyWordAndCategoryId() {
        window.location.href = getHrefSearch(getDateSearch(), 0)
    }

    function getHrefSearch(dataSearch, page) {
        const host = document.location.origin
        let path = document.location.pathname;
        if (path.includes("vendor")) {
            path = path.substring(0, 14) + `/products/category/${dataSearch.categoryId}/search`
        } else {
            path = `/shop/products/category/${dataSearch.categoryId}/search`
        }
        let search = `?query=${dataSearch.query}&page=${page + 1}`;
        let url = host + path + search;
        return url;

    }

    function sortProduct() {
        const dataSort = [[${products}]];
        const type = document.getElementById("sort-product").value;
        const url = new URL(`[(@{/products/sort})]`, location).href + '?type=' + type;
        $.ajax({
            type:'post',
            url: url,
            data: JSON.stringify(dataSort),
            headers: {
                "Content-Type": "application/json"
            },
            success:function (data) {
                let html = ``;
                data.forEach(product => {
                    html += getElementProduct(product);
                })
                $("#products").html(html);
            },
            error: function () {
                alert("error sort product")
            }
        })
    }
</script>
</body>


</html>